@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.cover-story-wrapper {
  display: grid;
  grid-template-columns: 70% 35%;
  width: 100%;
  padding-left: 10%;
  padding-right: 15%;
  align-items: center;
}

.slide-container {
  position: relative;
  height: 700px;
}

.slider-card-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Darkening effect */
.slider-card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Ensures overlay remains at the bottom of the image */
.title-overlay {
  position: absolute;
  font-family: "Merriweather";
  width: 100%;
  bottom: 1%; /* Fixes overlay to bottom of the image */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slightly darker for readability */
  padding: 15px 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  box-sizing: border-box;
  z-index: 2; /* Ensures text overlay is above image effects */
}

.title-overlay h2 {
  margin: 0;
  color: black;
  font-size: 35px;
}

.magazine-image {
  width: 130%;
  height: 700px;
  padding-right: 35%;
  object-fit: cover;
  margin-left: 4%;
  transition: transform 0.3s ease;
}

.magazine-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .cover-story-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .slider-container,
  .image-container {
    width: 100%;
    margin: 0;
  }

  .slide-container {
    height: auto;
    min-height: 400px;
  }

  .slider-card-image {
    height: auto;
    max-height: 400px;
  }

  .title-overlay {
    padding: 10px;
    font-size: 24px;
    width: 100%;
    bottom: 0; /* Keeps overlay at the bottom */
  }

  .title-overlay h2 {
    font-size: 24px;
  }

  .magazine-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .title-overlay {
    padding: 5px;
    font-size: 18px;
  }

  .title-overlay h2 {
    font-size: 20px;
  }

  .magazine-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
